<html>

<head>
	<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<meta content="text/css" http-equiv="Content-Style-Type">
	<title>youyou</title>
	<!-- 引入样式 -->
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">
</head>

<body>
	<h1 align="center" class="root">
		<a name="1utlmk3ckvllifbtlnol304j46">youyou</a>
	</h1>
	<h2 class="topic">
		<a name="2ehdj1rr6nboicq87710ru3hph">全局搜索</a>
	</h2>
	<h3 class="topic">
		<a href="http://120.76.205.241:8000/mobileapp/mobile360?sort=0&amp;kw=%E8%85%BE%E8%AE%AFQQ&amp;pageToken=1&amp;apikey=p6LUkr1ZHWw3urhe6bXuTBIQ48ApGN5K3Xqvyiz3BWNuVeTWFWK6JVIBxJaPhuHo"
		    name="26jfvhr21a9u6bdl257pe44t9r">&nbsp;http://120.76.205.241:8000/mobileapp/mobile360?sort={0是最热1是最新}&amp;kw={搜索内容}&amp;pageToken={从1开始分页}&amp;apikey=p6LUkr1ZHWw3urhe6bXuTBIQ48ApGN5K3Xqvyiz3BWNuVeTWFWK6JVIBxJaPhuHo</a>
	</h3>
	<h2 class="topic">
		<a name="3kks2sp3fjtscarjda9k6dlvto">分类搜索</a>
	</h2>
	<h3 class="topic">
		<a name="3k4kqrpggr83id9qm2en0jm7ra">&nbsp;游戏分类搜索</a>
	</h3>
	<h3 class="topic">
		<a href="http://120.76.205.241:8000/mobileapp/mobile360?sort=0&amp;catid=91%3A75946%3A%E5%83%8F%E7%B4%A0&amp;apikey=p6LUkr1ZHWw3urhe6bXuTBIQ48ApGN5K3Xqvyiz3BWNuVeTWFWK6JVIBxJaPhuHo"
		    name="35khten9s94avaf7r39fcb5r22">&nbsp;&nbsp;http://120.76.205.241:8000/mobileapp/mobile360?sort={0是最热1是最新}&amp;catid=91%3A75946%3A{类名}&amp;apikey=p6LUkr1ZHWw3urhe6bXuTBIQ48ApGN5K3Xqvyiz3BWNuVeTWFWK6JVIBxJaPhuHo</a>
	</h3>
	<h3 class="topic">
		<a name="5so9355bhgcria7dn4p0o47j4u">&nbsp;软件分类搜索</a>
	</h3>
	<h3 class="topic">
		<a href="http://120.76.205.241:8000/mobileapp/mobile360?sort=0&amp;catid=%E9%9F%B3%E4%B9%90&amp;apikey=p6LUkr1ZHWw3urhe6bXuTBIQ48ApGN5K3Xqvyiz3BWNuVeTWFWK6JVIBxJaPhuHo"
		    name="6nmga2cnistv09pc7tjfpmaffn">&nbsp;&nbsp;http://120.76.205.241:8000/mobileapp/mobile360?sort={0是最热1是最新}&amp;catid={类名}&amp;apikey=p6LUkr1ZHWw3urhe6bXuTBIQ48ApGN5K3Xqvyiz3BWNuVeTWFWK6JVIBxJaPhuHo</a>
	</h3>
	<div class="tempLink">
		<div>
			<el-radio class="radio" v-model="radio" label="男">男</el-radio>
			<el-radio class="radio" v-model="radio" label="女">女</el-radio>
		</div>
		<el-button type="primary" class="update_btn" @click="updated">提交</el-button>
	</div>
	<script src="./src/assets/js/vue.js"></script>
	<!-- 引入组件库 -->
	<script src="https://unpkg.com/element-ui/lib/index.js"></script>

	
	<script>
		new Vue({
			el: '.tempLink',
			data: {
				radio: '男'
			},
			methods: {
				updated(){
					console.log('123')
				}
			}
		})
	</script>
</body>

</html>