body {
    font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
    font-size: 1.025641rem;
}

html {
    overflow-x: hidden;
    overflow-y: auto
}

ul,
li {
    list-style: none;
}

input {
    outline: none;
}

img {
    display: block;
    border: 0;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

a {
    text-decoration: none;
}

.weui-media-box__desc {
    font-size: 1.111111rem
}

.weui-media-box_appmsg .weui-media-box__hd {
    height: 5.128205rem
}